header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__h1 {
    margin-right: 40px;
}

.header__p {
    margin-right: 40px;
}
.content {
    display: flex;
    justify-content: space-around;
}

.aside {
    margin-right: 25px;
    
    
}

.title {
    text-align: center;
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    background-color: turquoise;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    justify-content: space-around;
    
}

.article__header {
    display: flex;
    align-items: center;
}

.article__header h3 {
    margin-right: 40px;
}

.article__header meter {
    margin-left: 25px;
}

.main {
    border-left: 1px solid grey;
    padding-left: 15px;
}

.forget {
    color: orange;
}

